<h1>Warning</h1><br />
<h3>Do you really want to delete the member '<%= @name %>'?</h3>
<form method='post'>
  <input name="_method" type="hidden" value="delete" />
  <input type="submit" value='DELETE!!1!'/>
</form>

<h4>Sheesh, no, lemme get <a href="/members">back</a>!</h4>
