header {
  font-weight: bold;
  margin: auto;
  width: 50%;
  text-align: center;

}

input {
  padding: 10px;
}

button {
  background-color: #DBC090;
  padding: 11px;
  border-radius: 3px;
  border-width: 0;
}

body {
  background-color: Bisque;
}

#canvas {
  background-color: White;
  margin: 30px auto;
  width: 960px;
  height: 960px;
  padding: 3px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-radius: 3px;
}

.cell {
  background-color: #DDD;
  float: left;
  margin: 2px;
}

.painted {
  background-color: #000;
}
