<p>
  Welcome to Caesar cipher! <br />
  This cipher works by shifting each letter of the text by a given number of letters ─ the <em>key</em> ─<br /> down the alphabet.

  So if your text is "ABCDE" and your key is 5, the text becomes "FGHIJ".
</p>

<form action='cipher' method='post'>
  <input name='text' type='text' value="Please enter the text" />
  <select name='key'>
    <% (1..26).each do |number| %>
      <option value='<%= number %>'><%= number %>
      <%= '─ THE MOST SECURE' if number == 26 %></option>
    <% end %>
  </select><br />
  <input type='submit' value='Show me my encrypted text!' />
</form>

<% if @ciphertext %>
  <p>
    Your encrypted text is <strong><%= @ciphertext %></strong>
  </p>
<% end %>
